//_animation.scss
$anim-set : 1s ease 1 backwards;
@mixin animation($anim) {
  -webkit-animation: $anim;
     -moz-animation: $anim;
      -ms-animation: $anim;
          animation: $anim;
}
@mixin animation-delay($animation-delay) {
  -webkit-animation-delay: $animation-delay;
     -moz-animation-delay: $animation-delay;
      -ms-animation-delay: $animation-delay;
          animation-delay: $animation-delay;
}
@mixin transform($transformation) {
  -webkit-transform: $transformation;
     -moz-transform: $transformation;
      -ms-transform: $transformation;
          transform: $transformation;
}
@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}
/*.scene{ @include animation(base 3s ease alternate infinite); }*/
.common_anim {
 position:absolute;
       transition:opacity 1s ease-in;
}

.animation-reverse {
    opacity:0!important;
}
.base {
    @extend .common_anim;
    @include animation(base $anim-set);
    @include animation-delay(1s);
}
.front {
  left: 0;
  top: -49px;
  @extend .common_anim;
      @include animation(front $anim-set);
    @include animation-delay(2s);
}
.spot1 {
  left: 23px;
@extend .common_anim;
  top: 46px;
      @include animation(spot1 1s $anim-set);
     @include animation-delay(3s);
}
.spot2 {
    left: 200px;
    @extend .common_anim;
    top: 403px;
    @include animation(spot2 1s $anim-set);
    @include animation-delay(4s);
}
.spot3 {
   
    @extend .common_anim;
     left: 161px;
    top: 299px;
    @include animation(spot3 1s $anim-set);
    @include animation-delay(4s);
    @include transform(scale(0.5));
}
.scene {
    position: relative;
    top: 100px;
    left:100px;
    min-height: 1px;
}

.arrow {
     @extend .common_anim;
    top:60px;
    left:250px;
    @include animation(arrow 1s ease 1 both);
    @include animation-delay(11s);

}

.animation-spot3 {
    @include animation(spot3-suite 1s 1 ease normal forwards);
}



@include keyframes(base){
from {
    opacity:0;
    @include transform(scale(0.5));
}
    to {
        opacity:1!important;
        @include transform(scale(1));
    }
 
}
@include keyframes(front){
from {
    opacity:0;
    @include transform(translate(0,-100px));
}
    to {
        opacity:1!important;
         @include transform(translate(0,0));
    }
 
}
@include keyframes(spot1){
from {
    opacity:0;
    @include transform(translate(0,200px));
}
    to {
        opacity:1!important;
        @include transform(translate(0,0));
    }
 
}
@include keyframes(spot2){
from {
    opacity:0;
     @include transform(translate(0,200px));
}
    to {
        opacity:1!important;
         @include transform(translate(0,0));
    }
 
}
@include keyframes(spot3){
from {
    opacity:0;
     @include transform(translate(0,-200px) scale(0.5));
}
    to {
        opacity:1!important;
         @include transform(translate(0,0) scale(0.5));
    }
 
}
@include keyframes(spot3-suite){
from {
     @include transform(translate(0,0) scale(0.5));
}
    to {
        opacity:1!important;
         @include transform(translate(-250px,-350px) rotate(90deg) scale(0.8));
    }
 
}

.pliage {
  left: 400px;
  position: absolute;
  top: -100px;
  transform: scale(0.8);
@include animation(pliage 1s ease 1 backwards);
@include animation-delay(11s);
}

@include keyframes(pliage){
from {
     opacity:0;
    @include transform(scale(0.5) translate(0,-800px)); 
}
    to {
       opacity:1;
    @include transform(scale(0.8) translate(0, 0)); 
    }
 
}

@include keyframes(arrow){
from {
    opacity:0;
   
}
    to {
        opacity:1!important;
        @include transform(translate(80px,0));
    }
 
}

.pliage.stay {
@include animation(stay1 4s ease infinite alternate backwards);
}

@include keyframes(stay1){
from {
   @include transform(scale(0.8) translate(0, 0)); 
}
    to {
     @include transform(scale(0.8) translate(0,-100px)); 
    }
 
}
.spot3.stay {
@include animation(stay2 4s ease infinite alternate backwards);
    @include animation-delay(4s);
}

@include keyframes(stay2){
from {
   @include transform(translate(-250px,-350px) rotate(90deg) scale(0.8));
}
    to {
     @include transform(translate(-250px,-350px) rotate(90deg) scale(0.8) translate(100px,0));
    }
 
}
