// _ui.scss

    .button {
    border: 0 none;
    color: #fff;
    position: inherit;
    text-decoration: none;
    background-color:$blue-catalcad;
        
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2) inset;
    padding:1em 3em!important;
}


a {
    color:$secondary-color;
    text-decoration: none;

}
h1
			{
				display:block;
				color:$blue-catalcad;
				margin:0 0 30px 0;
                text-align: left;
			}