/* line 3, C:/xampp/htdocs/www/github/dev01/static/css/ui */
.button {
  border: 0 none;
  color: #fff;
  position: inherit;
  text-decoration: none;
  background-color: #00aeef;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) inset;
  padding: 1em 3em !important; }

/* line 15, C:/xampp/htdocs/www/github/dev01/static/css/ui */
a {
  color: #464648;
  text-decoration: none; }

/* line 20, C:/xampp/htdocs/www/github/dev01/static/css/ui */
h1 {
  display: block;
  color: #00aeef;
  margin: 0 0 30px 0;
  text-align: left; }

/*.scene{ @include animation(base 3s ease alternate infinite); }*/
/* line 33, C:/xampp/htdocs/www/github/dev01/static/css/animation */
.common_anim, .base, .front, .spot1, .spot2, .spot3 {
  position: absolute;
  transition: opacity 1s ease-in; }

/* line 38, C:/xampp/htdocs/www/github/dev01/static/css/animation */
.animation-reverse {
  opacity: 0 !important; }

/* line 41, C:/xampp/htdocs/www/github/dev01/static/css/animation */
.base {
  -webkit-animation: base 1s ease 1 backwards;
  -ms-animation: base 1s ease 1 backwards;
  animation: base 1s ease 1 backwards;
  -webkit-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s; }

/* line 46, C:/xampp/htdocs/www/github/dev01/static/css/animation */
.front {
  left: 0;
  top: -49px;
  -webkit-animation: front 1s ease 1 backwards;
  -ms-animation: front 1s ease 1 backwards;
  animation: front 1s ease 1 backwards;
  -webkit-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s; }

/* line 53, C:/xampp/htdocs/www/github/dev01/static/css/animation */
.spot1 {
  left: 23px;
  top: 46px;
  -webkit-animation: spot1 1s 1s ease 1 backwards;
  -ms-animation: spot1 1s 1s ease 1 backwards;
  animation: spot1 1s 1s ease 1 backwards;
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s; }

/* line 60, C:/xampp/htdocs/www/github/dev01/static/css/animation */
.spot2 {
  left: 200px;
  top: 403px;
  -webkit-animation: spot2 1s 1s ease 1 backwards;
  -ms-animation: spot2 1s 1s ease 1 backwards;
  animation: spot2 1s 1s ease 1 backwards;
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s; }

/* line 67, C:/xampp/htdocs/www/github/dev01/static/css/animation */
.spot3 {
  left: 161px;
  top: 299px;
  -webkit-animation: spot3 1s 1s ease 1 backwards;
  -ms-animation: spot3 1s 1s ease 1 backwards;
  animation: spot3 1s 1s ease 1 backwards;
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5); }

/* line 76, C:/xampp/htdocs/www/github/dev01/static/css/animation */
.scene {
  position: relative;
  top: 100px;
  left: 100px;
  min-height: 1px; }

/* line 82, C:/xampp/htdocs/www/github/dev01/static/css/animation */
.animation-spot3 {
  -webkit-animation: spot3-suite 1s 1 ease normal forwards;
  -ms-animation: spot3-suite 1s 1 ease normal forwards;
  animation: spot3-suite 1s 1 ease normal forwards; }

@-webkit-keyframes base {
  /* line 86, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }

  /* line 90, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    opacity: 1 !important;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@keyframes base {
  /* line 86, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }

  /* line 90, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    opacity: 1 !important;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes front {
  /* line 97, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    opacity: 0;
    -webkit-transform: translate(0, -100px);
    -ms-transform: translate(0, -100px);
    transform: translate(0, -100px); }

  /* line 101, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    opacity: 1 !important;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes front {
  /* line 97, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    opacity: 0;
    -webkit-transform: translate(0, -100px);
    -ms-transform: translate(0, -100px);
    transform: translate(0, -100px); }

  /* line 101, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    opacity: 1 !important;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-webkit-keyframes spot1 {
  /* line 108, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    opacity: 0;
    -webkit-transform: translate(0, 200px);
    -ms-transform: translate(0, 200px);
    transform: translate(0, 200px); }

  /* line 112, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    opacity: 1 !important;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes spot1 {
  /* line 108, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    opacity: 0;
    -webkit-transform: translate(0, 200px);
    -ms-transform: translate(0, 200px);
    transform: translate(0, 200px); }

  /* line 112, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    opacity: 1 !important;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-webkit-keyframes spot2 {
  /* line 119, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    opacity: 0;
    -webkit-transform: translate(0, 200px);
    -ms-transform: translate(0, 200px);
    transform: translate(0, 200px); }

  /* line 123, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    opacity: 1 !important;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes spot2 {
  /* line 119, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    opacity: 0;
    -webkit-transform: translate(0, 200px);
    -ms-transform: translate(0, 200px);
    transform: translate(0, 200px); }

  /* line 123, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    opacity: 1 !important;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-webkit-keyframes spot3 {
  /* line 130, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    opacity: 0;
    -webkit-transform: translate(0, -200px) scale(0.5);
    -ms-transform: translate(0, -200px) scale(0.5);
    transform: translate(0, -200px) scale(0.5); }

  /* line 134, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    opacity: 1 !important;
    -webkit-transform: translate(0, 0) scale(0.5);
    -ms-transform: translate(0, 0) scale(0.5);
    transform: translate(0, 0) scale(0.5); } }

@keyframes spot3 {
  /* line 130, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    opacity: 0;
    -webkit-transform: translate(0, -200px) scale(0.5);
    -ms-transform: translate(0, -200px) scale(0.5);
    transform: translate(0, -200px) scale(0.5); }

  /* line 134, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    opacity: 1 !important;
    -webkit-transform: translate(0, 0) scale(0.5);
    -ms-transform: translate(0, 0) scale(0.5);
    transform: translate(0, 0) scale(0.5); } }

@-webkit-keyframes spot3-suite {
  /* line 141, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    -webkit-transform: translate(0, 0) scale(0.5);
    -ms-transform: translate(0, 0) scale(0.5);
    transform: translate(0, 0) scale(0.5); }

  /* line 144, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    opacity: 1 !important;
    -webkit-transform: translate(-250px, -350px) rotate(90deg) scale(0.8);
    -ms-transform: translate(-250px, -350px) rotate(90deg) scale(0.8);
    transform: translate(-250px, -350px) rotate(90deg) scale(0.8); } }

@keyframes spot3-suite {
  /* line 141, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    -webkit-transform: translate(0, 0) scale(0.5);
    -ms-transform: translate(0, 0) scale(0.5);
    transform: translate(0, 0) scale(0.5); }

  /* line 144, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    opacity: 1 !important;
    -webkit-transform: translate(-250px, -350px) rotate(90deg) scale(0.8);
    -ms-transform: translate(-250px, -350px) rotate(90deg) scale(0.8);
    transform: translate(-250px, -350px) rotate(90deg) scale(0.8); } }

/* line 151, C:/xampp/htdocs/www/github/dev01/static/css/animation */
.pliage {
  left: 400px;
  position: absolute;
  top: -100px;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-animation: pliage 1s ease 1 backwards;
  -ms-animation: pliage 1s ease 1 backwards;
  animation: pliage 1s ease 1 backwards;
  -webkit-animation-delay: 11s;
  -ms-animation-delay: 11s;
  animation-delay: 11s; }

@-webkit-keyframes pliage {
  /* line 161, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    opacity: 0;
    -webkit-transform: scale(0.5) translate(0, -800px);
    -ms-transform: scale(0.5) translate(0, -800px);
    transform: scale(0.5) translate(0, -800px); }

  /* line 165, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    opacity: 1;
    -webkit-transform: scale(0.8) translate(0, 0);
    -ms-transform: scale(0.8) translate(0, 0);
    transform: scale(0.8) translate(0, 0); } }

@keyframes pliage {
  /* line 161, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    opacity: 0;
    -webkit-transform: scale(0.5) translate(0, -800px);
    -ms-transform: scale(0.5) translate(0, -800px);
    transform: scale(0.5) translate(0, -800px); }

  /* line 165, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    opacity: 1;
    -webkit-transform: scale(0.8) translate(0, 0);
    -ms-transform: scale(0.8) translate(0, 0);
    transform: scale(0.8) translate(0, 0); } }

/* line 172, C:/xampp/htdocs/www/github/dev01/static/css/animation */
.pliage.stay {
  -webkit-animation: stay1 4s ease infinite alternate backwards;
  -ms-animation: stay1 4s ease infinite alternate backwards;
  animation: stay1 4s ease infinite alternate backwards; }

@-webkit-keyframes stay1 {
  /* line 177, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    -webkit-transform: scale(0.8) translate(0, 0);
    -ms-transform: scale(0.8) translate(0, 0);
    transform: scale(0.8) translate(0, 0); }

  /* line 180, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    -webkit-transform: scale(0.8) translate(0, -100px);
    -ms-transform: scale(0.8) translate(0, -100px);
    transform: scale(0.8) translate(0, -100px); } }

@keyframes stay1 {
  /* line 177, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    -webkit-transform: scale(0.8) translate(0, 0);
    -ms-transform: scale(0.8) translate(0, 0);
    transform: scale(0.8) translate(0, 0); }

  /* line 180, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    -webkit-transform: scale(0.8) translate(0, -100px);
    -ms-transform: scale(0.8) translate(0, -100px);
    transform: scale(0.8) translate(0, -100px); } }

/* line 186, C:/xampp/htdocs/www/github/dev01/static/css/animation */
.spot3.stay {
  -webkit-animation: stay2 4s ease infinite alternate backwards;
  -ms-animation: stay2 4s ease infinite alternate backwards;
  animation: stay2 4s ease infinite alternate backwards;
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s; }

@-webkit-keyframes stay2 {
  /* line 192, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    -webkit-transform: translate(-250px, -350px) rotate(90deg) scale(0.8);
    -ms-transform: translate(-250px, -350px) rotate(90deg) scale(0.8);
    transform: translate(-250px, -350px) rotate(90deg) scale(0.8); }

  /* line 195, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    -webkit-transform: translate(-250px, -350px) rotate(90deg) scale(0.8) translate(100px, 0);
    -ms-transform: translate(-250px, -350px) rotate(90deg) scale(0.8) translate(100px, 0);
    transform: translate(-250px, -350px) rotate(90deg) scale(0.8) translate(100px, 0); } }

@keyframes stay2 {
  /* line 192, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  from {
    -webkit-transform: translate(-250px, -350px) rotate(90deg) scale(0.8);
    -ms-transform: translate(-250px, -350px) rotate(90deg) scale(0.8);
    transform: translate(-250px, -350px) rotate(90deg) scale(0.8); }

  /* line 195, C:/xampp/htdocs/www/github/dev01/static/css/animation */
  to {
    -webkit-transform: translate(-250px, -350px) rotate(90deg) scale(0.8) translate(100px, 0);
    -ms-transform: translate(-250px, -350px) rotate(90deg) scale(0.8) translate(100px, 0);
    transform: translate(-250px, -350px) rotate(90deg) scale(0.8) translate(100px, 0); } }

/* line 11, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
body {
  width: 100%;
  margin: auto;
  overflow-x: hidden; }

/* line 18, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
.header {
  height: auto;
  position: fixed;
  background: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.04);
  z-index: 100; }
  /* line 25, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .header .toggle-menu {
    display: none; }
  /* line 32, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .header ul li {
    display: block;
    margin: 0 8% 0 0;
    float: left;
    clear: right;
    padding: 0 0 10px 0; }
    /* line 40, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .header ul li a {
      display: block;
      padding: 20px 0 10px 0;
      border-bottom: 3px solid white;
      transition: all 300ms ease-in-out; }
    /* line 48, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .header ul li .active {
      border-bottom: 3px solid #00aeef; }

/* line 55, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
.logo {
  position: fixed;
  top: 20px;
  z-index: 100; }
  /* line 61, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .logo img {
    max-width: 150px;
    width: 100%;
    transition: all 300ms ease-in-out; }
  /* line 66, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .logo .scrolled {
    max-width: 80px;
    margin: -13px 0 0; }

/* line 71, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
.main-container {
  overflow: hidden;
  float: left;
  clear: right;
  margin: 90px 0 0 0; }
  /* line 78, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .main-container .presentation, .main-container .product, .main-container .gallery, .main-container .business, .main-container .contact {
    min-height: calc(100vh - 90px);
    height: auto;
    overflow: hidden; }
  /* line 85, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .main-container .presentation {
    padding: 50px 0 0 0;
    overflow: hidden;
    background-color: #f4f4f4; }
    /* line 92, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .main-container .presentation .introduction, .main-container .presentation .product .product-presentation, .main-container .product .presentation .product-presentation {
      text-align: justify; }
  /* line 99, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .main-container .product {
    background: url(../img/piece1.png) no-repeat right bottom #464648 fixed;
    padding: 50px 0 0 0; }
    /* line 104, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .main-container .product .product-presentation {
      color: white;
      padding-left: calc(100% / 12 * 1); }
  /* line 112, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .main-container .gallery {
    overflow: hidden;
    background-color: #ececec;
    padding: 50px 0 0 0;
    background: url(../img/piece2.png) no-repeat right bottom #ececec fixed; }
    /* line 118, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .main-container .gallery .gallery-txt {
      padding-right: calc(100% / 12 * 1); }
    /* line 121, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .main-container .gallery .pictures-container {
      padding-left: calc(100% / 12 * 1);
      overflow: hidden; }
      /* line 126, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
      .main-container .gallery .pictures-container img, .main-container .gallery .pictures-container iframe {
        float: left;
        clear: right;
        width: 25%;
        margin: 1%;
        display: block; }
  /* line 137, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .main-container .business {
    padding: 50px 0 0 0;
    background: white; }
    /* line 142, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .main-container .business .sellers, .main-container .business .references {
      padding-left: calc(100% / 12 * 1); }
      /* line 146, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
      .main-container .business .sellers .map iframe, .main-container .business .references .map iframe {
        width: 100% !important; }
  /* line 156, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .main-container .contact {
    padding: 50px 0 0 0;
    background-color: #464648;
    padding-left: calc(100% / 12 * 1);
    padding-right: calc(100% / 12 * 1);
    color: white;
    background: url(../img/piece3.png) no-repeat right bottom #464648 fixed;
    background-size: 50%; }
    /* line 166, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .main-container .contact h2 {
      color: white; }
    /* line 176, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .main-container .contact form fieldset input {
      width: 85%;
      margin: 0 15% 5% 0;
      display: block; }
    /* line 184, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .main-container .contact form fieldset textarea {
      display: block;
      width: 85%;
      height: 125px; }

/* line 196, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
.toggle-container {
  position: fixed;
  height: calc(100vh - 90px);
  top: 90px;
  left: 100%;
  background: #f4f4f4;
  transition: all 500ms ease-in-out;
  color: #464648;
  width: 100%;
  padding: 2em calc(100% / 12 * 2);
  overflow-y: auto;
  font-size: 0.8em;
  line-height: normal;
  text-align: justify; }
  /* line 212, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .toggle-container .close-toggle::before {
    content: url("../img/close.png");
    left: -8px;
    position: relative;
    top: 3px;
    width: 15px; }
  /* line 219, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .toggle-container .separation {
    border-bottom: 1px solid #00aeef;
    box-sizing: content-box;
    display: block;
    margin: 10px 0 20px 0; }
  /* line 225, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .toggle-container h2 {
    color: #00aeef; }
  /* line 230, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .toggle-container .more-container h3 {
    font-size: 1.5em;
    text-align: left; }
  /* line 234, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .toggle-container .more-container .highlight {
    background: none repeat scroll 0 0 #00aeef;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    color: white;
    margin: 20px 0 20px;
    padding: 10px; }
  /* line 241, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .toggle-container .more-container .close-toggle {
    float: right;
    clear: left;
    font-size: 0.8em; }
  /* line 248, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .toggle-container .more-container .more-content {
    padding: 30px 0 0 0; }

@media only screen and (max-width: 739px) {
  /* line 260, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .toggle-mobile-menu {
    left: 0 !important; }

  /* line 265, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .header {
    height: 60px !important;
    background: #FFF;
    padding: 0;
    height: 60px !important; }
    /* line 272, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .header .toggle-menu {
      display: block; }
      /* line 276, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
      .header .toggle-menu a {
        display: block;
        padding: 5px 10px; }
    /* line 284, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .header ul {
      left: -100%;
      display: block;
      width: 60%;
      background: #FFF;
      padding: 0;
      height: 100vh;
      transition: all 500ms ease-in-out;
      margin: 0; }
      /* line 295, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
      .header ul li {
        width: 100%;
        padding: 0 0 0 10%; }

  /* line 304, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .logo {
    top: 10px;
    right: 10px;
    width: auto; }
    /* line 310, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .logo img {
      width: 60px !important; }

  /* line 315, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .main-container {
    margin: 60px 0 0 0 !important; }
    /* line 319, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .main-container .presentation, .main-container .product, .main-container .gallery, .main-container .business, .main-container .contact {
      margin: 0 !important;
      height: auto !important;
      min-height: inherit;
      font-size: 0.9em;
      padding: 20px 0 !important; }
      /* line 327, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
      .main-container .presentation h1, .main-container .product h1, .main-container .gallery h1, .main-container .business h1, .main-container .contact h1 {
        font-size: 1.8em; }
      /* line 331, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
      .main-container .presentation .sellers, .main-container .product .sellers, .main-container .gallery .sellers, .main-container .business .sellers, .main-container .contact .sellers {
        padding: 0; }
        /* line 335, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
        .main-container .presentation .sellers h1, .main-container .product .sellers h1, .main-container .gallery .sellers h1, .main-container .business .sellers h1, .main-container .contact .sellers h1 {
          padding: 0 0 0 25px; }
        /* line 341, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
        .main-container .presentation .sellers .map iframe, .main-container .product .sellers .map iframe, .main-container .gallery .sellers .map iframe, .main-container .business .sellers .map iframe, .main-container .contact .sellers .map iframe {
          height: 360px; }
    /* line 349, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .main-container .product-presentation {
      padding-left: 10px; }
    /* line 353, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .main-container .references {
      padding: 0 0 0 10px; }
    /* line 359, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .main-container .contact h1 {
      padding: 0 0 0 25px; }
    /* line 369, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .main-container .contact form fieldset input, .main-container .contact form fieldset textarea {
      width: 100%;
      margin: auto;
      margin-bottom: 15px;
      display: block; }
    /* line 378, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .main-container .contact .contact_details {
      margin: 0 0 0 12.5%; }

  /* line 385, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
  .toggle-container {
    top: 60px;
    left: -100%;
    height: 100vh;
    overflow: auto; }
    /* line 394, C:/xampp/htdocs/www/github/dev01/static/css/custom.scss */
    .toggle-container .more-container p {
      display: block;
      width: 100% !important; }
 }
/*# sourceMappingURL=custom.css.map */